[Unit]
Description=ShipIt self-updater
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/shipit/deployment/vps/update.sh
StandardOutput=journal
StandardError=journal
