node_modules
dist

**/*.test.ts
**/*.test.tsx
src/server/orchestrator/integration_tests/test-helpers.ts
src/client/test-setup.ts
vitest.config.ts
vitest-llm-reporter.ts

docs/
.git
.github
.gitignore
.dockerignore

eslint.config.js

Dockerfile.session-worker
Dockerfile.session-worker.dev
Dockerfile.session-worker.prod
Dockerfile.session-worker.dogfood
